{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/update_match/{{player[0]}}/{{season}}" method="POST">
          <div class="form-group">
            <label for="firstname" style="margin-top: 50;">Match_ID</label>
            <input type="text" name="mid" value="{{player[0]}}" class="form-control" readonly>
          </div>
          <div class="form-group">
            <label for="firstname" style="margin-top: 50;">Tournament Name</label>
            <input type="text" name="tname" value="{{player[1]}}" class="form-control" readonly>
          </div>
          <div class="form-group">
            <label for="firstname" style="margin-top: 50;">Surface</label>
            <input type="text" name="surface" value="{{player[2]}}" class="form-control" readonly>
          </div>
          <div class="form-group">
            <label for="firstname" style="margin-top: 50;">Winner ID</label>
            <input type="text" name="wid" value="{{player[3]}}" class="form-control" readonly>
          </div>
          <div class="form-group">
            <label for="firstname" style="margin-top: 50;">Winner Name</label>
            <input type="text" name="wname" value="{{player[4]}}" class="form-control" readonly>
          </div>
          <div class="form-group">
            <label for="firstname" style="margin-top: 50;">Loser ID</label>
            <input type="text" name="lid" value="{{player[5]}}" class="form-control" readonly>
          </div>
          <div class="form-group">
            <label for="firstname" style="margin-top: 50;">Loser Name</label>
            <input type="text" name="lname" value="{{player[6]}}" class="form-control" readonly>
          </div>
          <div class="form-group">
            <label for="firstname" style="margin-top: 50;">Round</label>
            <input type="text" name="round" value="{{player[7]}}" class="form-control" readonly>
          </div>
          <div class="form-group">
            <label for="firstname" style="margin-top: 50;">Score</label>
            <input type="text" name="score" value="{{player[8]}}" class="form-control">
          </div>
          <div class="form-group">
            <label for="firstname" style="margin-top: 50;">Winner Aces</label>
            <input type="text" name="waces" value="{{player[9]}}" class="form-control">
          </div>
          <div class="form-group">
            <label for="firstname" style="margin-top: 50;">Winner DFs</label>
            <input type="text" name="wdfs" value="{{player[10]}}" class="form-control">
          </div>
          <div class="form-group">
            <label for="firstname" style="margin-top: 50;">Loser Aces</label>
            <input type="text" name="laces" value="{{player[11]}}" class="form-control">
          </div>
          <div class="form-group">
            <label for="firstname" style="margin-top: 50;">Loser DFs</label>
            <input type="text" name="ldfs" value="{{player[12]}}" class="form-control">
          </div>
          <div class="form-group">
            <label for="firstname" style="margin-top: 50;">Winner Rank</label>
            <input type="text" name="wikid" value="{{player[13]}}" class="form-control" readonly>
          </div>
          <div class="form-group">
            <label for="firstname" style="margin-top: 50;">Loser Rank</label>
            <input type="text" name="wikid" value="{{player[14]}}" class="form-control" readonly>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}